= render partial: 'shared/header_message'

%form
  %section
    %span.right
      %span.req> *
      required
    %h3.section-header Property
    .moj-panel
      .row.street
        %label(for='property-street')
          Street
          %span.req> *
        %textarea#property-street
      .row.rel.town
        %label(for='property-town') Town
        %input#property-town(type='text')
      .row.rel.postcode
        %label(for='property-postcode')
          Postcode
          %span.req> *
        %input.smalltext#property-postcode(type='text')
      %fieldset.striped-choice
        %legend
          Type of property
          %span.req> *
        .options
          .row
            %input#property-house-true(type='radio' name='property-house' value='true')
            %label(for='property-house-true') A house
          .row
            %input#property-house-false(type='radio' name='property-house' value='false')
            %label(for='property-house-false') Part of a house

  %section
    %h3.section-header Landlord (claimant)
    .moj-panel
      .row
        %label(for='landlord-company')
          Company name
          %span.req> *
        %input#landlord-company(type='text')
      .row.rel.street
        %label(for='landlord-street')
          Street
          %span.req> *
        %textarea#landlord-street
      .row.rel.town
        %label(for='landlord-town') Town
        %input#landlord-town(type='text')
      .row.rel.postcode
        %label(for='landlord-postcode')
          Postcode
          %span.req> *
        %input.smalltext#landlord-postcode(type='text')

  %section
    %h3.section-header Tenants (defendants)
    .moj-panel
      .sub-panel.tenant
        %h4 Defendant 1
        .row
          %label(for='tenant1-title')
            Title
            %span.req> *
          %input.smalltext#tenant1-title(type='text')
        .row
          %label(for='tenant1-name')
            Full name
            %span.req> *
          %input.smalltext#tenant1-name(type='text')
        .row.full
          If the defendant is living somewhere else, give the address below
        .row.rel.street
          %label(for='tenant1-street') Street
          %textarea#tenant1-street
        .row.rel.town
          %label(for='tenant1-town') Town
          %input#tenant1-town(type='text')
        .row.rel.postcode
          %label(for='tenant1-postcode') Postcode
          %input.smalltext#tenant1-postcode(type='text')

      .row.divider

      .sub-panel.tenant
        %h4 Defendant 2
        .row
          %label(for='tenant2-title')
            Title
            %span.req> *
          %input.smalltext#tenant2-title(type='text')
        .row
          %label(for='tenant2-name')
            Full name
            %span.req> *
          %input.smalltext#tenant2-name(type='text')
        .row.full
          If the defendant is living somewhere else, give the address below
        .row.rel.street
          %label(for='tenant2-street') Street
          %textarea#tenant2-street
        .row.rel.town
          %label(for='tenant2-town') Town
          %input#tenant2-town(type='text')
        .row.rel.postcode
          %label(for='tenant2-postcode') Postcode
          %input.smalltext#tenant2-postcode(type='text')

  %section
    %h3.section-header About the demoted tenancy
    .moj-panel
      %fieldset.striped-choice
        %legend
          Previous tenancy before demotion
          %span.req> *
        .options
          .row
            %input#previous-tenancy-assured(type='radio' name='previous-tenancy' value='assured')
            %label(for='previous-tenancy-assured') Assured
          .row
            %input#previous-tenancy-secure(type='radio' name='previous-tenancy' value='secure')
            %label(for='previous-tenancy-secure') Secure
      %fieldset.date-picker
        %legend
          Date demotion order was made
          %span.req> *
        .row
          %select#demotion-order-date.date-date
            %option(value='') date
            %option(value='1') 1
          %select#demotion-order-month.date-month
            %option(value='') month
            %option(value='January') January
          %select#demotion-order-year.date-year
            %option(value='') year
            %option(value='2014') 2014
      .row.town
        %label(for='demotion-order-court')
          County Court where order was made
          %span.req> *
        %input#demotion-order-court(type='text')

  %section
    %h3.section-header About the notice
    .moj-panel
      .row
        %label(for='notice-servedby')
          Notice served by
          %span.req> *
        %input#notice-servedby(type='text')
      %fieldset.date-picker
        %legend
          Date notice served
          %span.req> *
        .row
          %select#notice-served-date.date-date
            %option(value='') date
            %option(value='1') 1
          %select#notice-served-month.date-month
            %option(value='') month
            %option(value='January') January
          %select#notice-served-year.date-year
            %option(value='') year
            %option(value='2014') 2014
      %fieldset.date-picker
        %legend
          Date notice expired
          %span.req> *
        .row
          %select#notice-expired-date.date-date
            %option(value='') date
            %option(value='1') 1
          %select#notice-expired-month.date-month
            %option(value='') month
            %option(value='January') January
          %select#notice-expired-year.date-year
            %option(value='') year
            %option(value='2014') 2014

  %section
    %h3.section-header About licences
    .moj-panel
      %fieldset.striped-choice.full
        %legend
          Is the property part of a house in multiple occupation?
          %span.req> *
        .options
          .row
            %input#multiple-occupation-yes(type='radio' name='multiple-occupation' value='yes')
            %label(for='multiple-occupation-yes') Yes
          .row
            %input#multiple-occupation-no(type='radio' name='multiple-occupation' value='no')
            %label(for='multiple-occupation-no') No

      .sub-panel.rel.extra
        .row.full
          %label(for='multiple-occupation-licence-authority')
            If&nbsp;
            %strong> Yes
            , name of authority who issued the licence
          %input#multiple-occupation-licence-authority(type='text')
        %fieldset.date-picker.rel.full
          %legend Date licence was issued
          .row
            %select#multiple-occupation-licence-date.date-date
              %option(value='') date
              %option(value='1') 1
            %select#multiple-occupation-licence-month.date-month
              %option(value='') month
              %option(value='January') January
            %select#multiple-occupation-licence-year.date-year
              %option(value='') year
              %option(value='2014') 2014

      %fieldset.striped-choice.full
        %legend
          Is the property required to be licenced under Part 3 of the Housing Act 2004?
          %span.req> *
        .options
          .row
            %input#housing-act-yes(type='radio' name='housing-act' value='yes')
            %label(for='housing-act-yes') Yes
          .row
            %input#housing-act-no(type='radio' name='housing-act' value='no')
            %label(for='housing-act-no') No

      .sub-panel.rel.extra
        .row.full
          %label(for='housing-act-licence-authority')
            If&nbsp;
            %strong> Yes
            , name of authority who issued the licence
          %input#housing-act-licence-authority(type='text')
        %fieldset.date-picker.rel.full
          %legend Date licence was issued
          .row
            %select#housing-act-licence-date.date-date
              %option(value='') date
              %option(value='1') 1
            %select#housing-act-licence-month.date-month
              %option(value='') month
              %option(value='January') January
            %select#housing-act-licence-year.date-year
              %option(value='') year
              %option(value='2014') 2014

  %section
    %h3.section-header About the deposit
    .moj-panel
      %fieldset.striped-choice.full
        %legend
          Was a money deposit received on or after 6 April 2007?
          %span.req> *
        .options
          .row
            %input#money-deposit-received-yes(type='radio' name='money-deposit-received' value='yes')
            %label(for='money-deposit-received-yes') Yes
          .row
            %input#money-deposit-received-no(type='radio' name='money-deposit-received' value='no')
            %label(for='money-deposit-received-no') No

      .sub-panel.rel.extra
        .row.full
          %label(for='deposit-reference-number')
            If&nbsp;
            %strong> Yes
            , provide the Tenancy Deposit Scheme reference number
          %input#deposit-reference-number(type='text')

      %fieldset.striped-choice.full
        %legend
          Did you receive a deposit in the form of property on or after 6 April 2007?
          %span.req> *
        .options
          .row
            %input#property-deposit-received-yes(type='radio' name='property-deposit-received' value='yes')
            %label(for='property-deposit-received-yes') Yes
          .row
            %input#property-deposit-received-no(type='radio' name='property-deposit-received' value='no')
            %label(for='property-deposit-received-no') No

  %section
    %h3.section-header About the defendant(s)
    .moj-panel
      %fieldset.striped-choice.full
        %legend
          If the defendant(s) seek(s) postponement of possession on the grounds of exceptional hardship, are you content that the request be considered without a hearing?
          %span.req> *
        .options
          .row
            %input#consider-without-hearing-yes(type='radio' name='consider-without-hearing' value='yes')
            %label(for='consider-without-hearing-yes') Yes
          .row
            %input#consider-without-hearing-no(type='radio' name='consider-without-hearing' value='no')
            %label(for='consider-without-hearing-no') No

  %section
    %h3.section-header About the order
    .moj-panel
      %fieldset.striped-choice.full
        %legend
          You are asking the court to order that the defendant(s):
          %span.req> *
        .options
          .row
            %input#deliver-possession(type='checkbox')
            %label(for='deliver-possession') deliver up possession of the property
          .row
            %input#pay-costs(type='checkbox')
            %label(for='pay-costs') to pay the cost of the claim

  %section
    .action-buttons.cf
      %a.button.primary.large.chevron.left(href='#') Complete form
      