- if @errors
  %section#form_errors.flash.error-summary
    %h2#error-heading You need to fix the errors on this page before continuing.

    %p See highlighted errors below.

    %ul
      - @claim.error_messages.each do |field, message|
        %li
          - link = link_reference_for_error(field)
          = link_to message, "##{link}", class: 'error-link', data: { id: "##{field}" }
