%script#hb-yesno(type='text/x-handlebars-template')
  %fieldset.striped-choice.full
    %legend
      {{question}}
      %span.req> *
    .options
      .row
        %input.yesno(type='radio' name='{{id}}' value='yes' id='{{id}}-yes')
        %label(for='{{id}}-yes') Yes
      .row
        %input.yesno(type='radio' name='{{id}}' value='no' id='{{id}}-no')
        %label(for='{{id}}-no') No
