%script#hb-yesno(type='text/x-handlebars-template')
  %fieldset.radio.inline.jsVal
    %span.caption {{question}}
    .options(data-reverse='{{#if reverse}}true{{else}}false{{/if}}')
      .option
        %label(for='{{id}}-yes')
          Yes
          %input.yesno(type='radio' name='{{id}}' value='yes' id='{{id}}-yes')
      .option
        %label(for='{{id}}-no')
          No
          %input.yesno(type='radio' name='{{id}}' value='no' id='{{id}}-no')

%script#multiple-radio(type='text/x-handlebars-template')
  %fieldset.radio.inline.jsVal
    %span.caption {{caption}}
    .options
      {{#each items}}
      .option
        %label
          %input.multiplePanelRadio(type='radio' name='multiplePanelRadio_{{group}}' id='multiplePanelRadio_{{group}}_{{val}}' value='{{val}}')
          {{text}}
      {{/each}}

%script#title-dropdown(type='text/x-handlebars-template')
  %select.title-dropdown.small(id='{{id}}' name='{{name}}')
    %option(value='') &nbsp;
    {{#each titles}}
    %option(value='{{this}}') {{this}}
    {{/each}}
    %option(value='other') Other...

%script#title-input(type='text/x-handlebars-template')
  %input.smalltext(type='text' id='{{id}}' name='{{name}}')

%script#js-error-summary(type='text/x-handlebars-template')
  %section.flash.error-summary.js-errors
    %h2#error-heading You need to fix the errors on this page before continuing.
    %p See highlighted errors below.
    %ul
      {{#each errors}}
      %li
        %a(href='#jsError{{num}}') {{text}}
      {{/each}}

