%script#hb-yesno(type='text/x-handlebars-template')
  :erb
    {{#if full}}
      <fieldset class="striped-choice full">
    {{else}}
      <fieldset class="striped-choice">
    {{/if}}

  %legend
    {{#if question}}
    {{question}}
    {{/if}}
    {{#if req}}*{{/if}}
  
  .options(data-reverse='{{#if reverse}}true{{else}}false{{/if}}')
    .row
      %input.yesno(type='radio' name='{{id}}' value='yes' id='{{id}}-yes')
      %label(for='{{id}}-yes') Yes
    .row
      %input.yesno(type='radio' name='{{id}}' value='no' id='{{id}}-no')
      %label(for='{{id}}-no') No
  :erb
    </fieldset>

%script#multiple-selector(type='text/x-handlebars-template')
  .row
    %label(for='multiplePanelSelector_{{id}}') {{caption}}
    %select.multiplePanelSelector.small(id='multiplePanelSelector_{{id}}' name='multiplePanelSelector_{{id}}')
      {{#each items}}
      %option(value='{{val}}') {{val}} {{text}}
      {{/each}}
  .row.divider

%script#title-dropdown(type='text/x-handlebars-template')
  %select.title-dropdown.small(id='{{id}}' name='{{name}}')
    %option(value='') &nbsp;
    {{#each titles}}
    %option(value='{{this}}') {{this}}
    {{/each}}
    %option(value='other') Other...

%script#title-input(type='text/x-handlebars-template')
  %input.smalltext(type='text' id='{{id}}' name='{{name}}')
