%script#hb-yesno(type='text/x-handlebars-template')
  %fieldset.radio.inline.jsVal
    %legend.caption {{question}}
    .options(data-reverse='{{#if reverse}}true{{else}}false{{/if}}')
      .option
        %label(for='{{id}}-yes')
          Yes
          %input.yesno(type='radio' name='{{id}}' value='yes' id='{{id}}-yes')
      .option
        %label(for='{{id}}-no')
          No
          %input.yesno(type='radio' name='{{id}}' value='no' id='{{id}}-no')

%script#multiple-radio(type='text/x-handlebars-template')
  %fieldset.radio.inline.jsVal
    %legend.caption {{{caption}}}
    .options
      {{#each items}}
      .option
        %label
          %input.multiplePanelRadio(type='radio' name='multiplePanelRadio_{{group}}' id='multiplePanelRadio_{{group}}_{{val}}' data-virtual-pageview='/accelerated/{{group}}-section' value='{{val}}')
          {{text}}
      {{/each}}

%script#extend-session(type='text/x-handlebars-template')
  .modal#session-modal
    %h2
      Your session will expire in
      %span#timeRemaining {{remainingString}}
    %p
      Get more time to complete the form:
      %a#extend(href='#') extend for {{sessionString}}
