.postcode.postcode-picker-container
  .postcode-lookup.row.rel

    .postcode-selection-els

      %label.postcode-picker-label{:for => "claim_property_postcode_edit_field"} Postcode

      %input#claim_property_postcode_edit_field.smalltext.postcode-picker-edit-field{:maxlength => "8",
              :name => "claim[property][postcode]",
              :size => "8",
              :type => "text"}

      %a.button.primary.postcode-picker-button{:href => "#property_postcode_picker",
          :name => "FindUkPostcode"}
        Find UK Postcode

    .postcode-picker-hourglass.hide
      Finding address....

    .postcode-select-container.sub-panel.hide
      %fieldset.postcode-picker-address-list
        %select.address-picker-select{:name => "sel-address", :size => "6", :width => "50"}
          %option{:disabled => "disabled", :value => ""} Please select an address
        %a.button.primary.postcode-picker-cta#claim_propery_selectaddress{name: "SelectAddress", href: "#claim_property_postcode_picker_manual_link"}
          Select Address
    .js-only
      %a.caption.postcode-picker-manual-link{ href: "#claim_property_postcode_picker_manual_link"}
        I want to add an address myself


  .address.extra.no.sub-panel.hide

    .row.rel.street
      %label{:for => "claim_property_street"} Full address
      %textarea.street#claim_property_street{:maxlength => "70", :name => "claim[property][street]"}
    .row.js-only
      %span#claim_property_street-error-message.error.hide
        The address can’t be longer than 4 lines.
    .row.rel.postcode
      %label{:for => "claim_defendant_1_postcode"} Postcode
      %div{style: "overflow: hidden; width: 100%"}
        %input.smalltext.postcode{:id => "claim_property_postcode", :maxlength => "8", :name => "claim[defendant_1][postcode]", :size => "8", :type => "text", style: 'float: left;  margin-right: 20px;'}
        %a.change-postcode-link{href: "#claim_property_postcode_picker_manual_link", style: 'float: left;'} Change 