= claim_form.fields_for court, builder: LabellingFormBuilder do |form|
  .row
    #court-address-label
      Enter the name and address of the court you want to send this claim to.

    #court-name

    %p

    %a.caption#court-details{ href: '#court-details' }
      Choose to send this claim to a different court

  #court-address

    = form.text_field_row :court_name, label: 'Name of court'
    = form.text_area_row  :street, label: 'Full address'
    = form.text_field_row :postcode, label: 'Postcode'

  .divider
