= claim_form.fields_for deposit, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :received, 'Was a money deposit received on or after 6 April 2007?', class: 'striped-choice full'

  .sub-panel.extra.rel
    = form.text_field_row  :ref_number, label: 'Provide the Tenancy Deposit Scheme reference number', class: 'full'

  = form.radio_button_fieldset :as_property, 'Did you receive deposit in the form of property on or after 6 April 2007?', class: 'striped-choice full'
