= claim_form.fields_for fee, builder: LabellingFormBuilder do |form|
  .row
    = 'Court fee <span class=\'hint block\'>Enclose a cheque with the completed claim form</span>'.html_safe
    = form.text_field :court_fee, class: 'fee pound', readonly: true

  - if false # hide link to PDF while fee is hardcoded
    .row
      %p See the latest #{link_to 'court fees', 'http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex050-eng.pdf', class: 'external', rel: 'external', target: '_blank'}
