= claim_form.fields_for fee, builder: LabellingFormBuilder do |form|
  .sub-panel
    %label{for: "claim_fee_court_fee"}
      Court fee
      %span.visuallyhidden
        There is a fixed fee of two hundred and eighty pounds and no pence.
      %span.hint.block
        Enclose a cheque with the completed claim form.
      %span.visuallyhidden
        This is not an editable text field.
    = form.text_field :court_fee, class: 'fee pound', readonly: true
  - if false # hide link to PDF while fee is hardcoded
    %p
      See the latest
      = link_to 'court fees', 'http://hmctsformfinder.justice.gov.uk/courtfinder/forms/ex050-eng.pdf', class: 'external', rel: 'external', target: '_blank'
