- value = summary_value(section, label, value, @claim[section])

- unless value.blank?
  %tr.summary-field
    %td.summary-label= summary_label(section, label)
    %td.summary-value{ id: summary_id(section, label) }= value

