- id = summary_id(section, label)
- label = label.sub(/_\d+/,'')
- value = summary_value(section, label, value)

- unless value.blank?
  %p.summary-field
    %span.summary-label= summary_label(section, label)
    %span.summary-value{ id: "##{id}" }= value

