- values = @claim[section] unless defined? values
- value = summary_value(section, label, value, values)
- unless value.blank?
  %p.summary-field
    %span.summary-label= summary_label(section, label)
    %span.summary-value{ id: summary_id(section, label) }= value

