= claim_form.fields_for legal_cost, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.text_field_row :legal_costs, label: 'Fixed legal fees <span class=\'hint block\'>If the form is being completed by a legal representative</span>'.html_safe, input_class: 'pound', maxlength: 8
