= claim_form.fields_for legal_cost, builder: LabellingFormBuilder do |form|
  .sub-panel.inset
    .row
      = 'Are there any legal representative\'s costs?'.html_safe
    .row.rel.legal_costs
      = form.text_field :legal_costs, class: 'pound', maxlength: 8
