= claim_form.fields_for legal_cost, builder: LabellingFormBuilder do |form|
  .sub-panel
    %label{for: "claim_legal_cost_legal_costs"}
      Fixed legal fees
      %span.hint.inline
        (optional)
      %span.visuallyhidden
        Fixed legal fees. Enter in pounds.
      %span.hint.block
        If the form is being completed by a legal representative.
    = form.text_field :legal_costs, class: 'pound', maxlength: 8
