= claim_form.fields_for legal_cost, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.text_field_row :legal_costs, label: 'Are there any legal representative\'s costs for submitting this claim?'.html_safe, input_class: 'pound', maxlength: 8
