= claim_form.fields_for notice, builder: LabellingFormBuilder do |form|
  .row.full
    A Notice in writing saying that possession of the premises was required was served upon the defendant.
    
  = form.text_field_row  :served_by, label: 'Notice served by', class: ''

  = form.date_select_field_set :date_served, 'Date notice served', class: 'date-picker', date_select_options: @date_select_options
  = form.date_select_field_set :expiry_date, 'Date notice expired', class: 'date-picker', date_select_options: @date_select_options
