= claim_form.fields_for order, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :cost,
          'Do you want to ask the defendant to pay the cost of this claim? <span class="hint block">You may be reimbursed the court fee (and fixed legal fees if applicable)</span>'.html_safe,
          class: 'radio inline',
          choice: {'Yes'=>'Yes', 'No'=>'No'}

