= claim_form.fields_for possession, builder: LabellingFormBuilder do |form|

  .row
    If leaving the property in 14 days will cause the defendant extreme hardship, they can ask for extra time (up to 42 days). This may result in a court hearing.

  = form.radio_button_fieldset :hearing,
      'Do you want to be at court if there is a hearing?',
      class: 'radio inline',
      choice: {'Yes' => 'No',
          'No' => 'Yes'},
      data: { 'virtual-pageview' => '/accelerated/court-section' }

