= claim_form.fields_for possession, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :hearing, 'If the defendant(s) seek(s) postponement of possession on the grounds of exceptional hardship, are you content that the request be considered without a hearing?', class: 'striped-choice full'
