= claim_form.fields_for property, builder: LabellingFormBuilder do |form|

  = form.radio_button_fieldset :house,
      'What kind of property do you want to take back?',
      class: 'radio',
      choice: { 'A self-contained house, flat or bedsit'.html_safe => 'Yes',
          'Room(s) in a property <span class="hint">(tenants may share kitchen or bathroom)</span>'.html_safe => 'No' },
      data: { 'virtual-pageview' => '/accelerated/property_section' }

  .sub-panel.address#property
    = form.text_area_row  :street,   label: 'Full address', class: 'street'
    = form.text_field_row :postcode, class: 'rel postcode', input_class: 'smalltext'
