= claim_form.fields_for reference_number, builder: LabellingFormBuilder do |form|
  = form.text_field_row :reference_number, label: 'You can add a reference number for your own use', class: 'rel reference_number'
