= claim_form.fields_for reference_number, builder: LabellingFormBuilder do |form|
  .sub-panel
    = form.text_field_row :reference_number, label: 'Would you like to add your own reference number?', class: 'rel reference_number'
