= summary_section_header section

%table{ id: section, style: "clear: both;"}
  %tbody
    - values = @claim[section]
    - if values.is_a?(Hash)
      - values.each do |label, value|
        - unless value.blank?
          = render partial: 'field_summary',
              locals: { section: section, label: label, value: value }
    - else
      = values
