%section.confirmation-intro
  %h1
    Your accelerated possession form
    %br/
    is ready to print
  %p
    %a.button.large.chevron(href='/download') Print completed form

.container.steps
  %section
    %h2 Next steps

    %ol.steps
      %li.claim
        Check through the printed form and sign and date 
        %strong page 4
      %li.docs
        Attach copies of the following documents to the claim form:
        .box
          %ul
            %li
              The most recent tenancy agreement marked
              %strong 'A'
            %li
              The demotion order marked
              %strong 'B'
            %li
              The notice served marked
              %strong 'C'
            %li
              Proof the notice was served marked
              %strong 'C1'
            %li
              If the property is part of a house in multiple occupation, and the licence application is outstanding with the local authority, provide evidence of the application marked
              %strong 'D'
            %li
              If the property is required to be licenced under Part 3 of the Housing Act 2004, and the licence application is outstanding with the local authority, provide evidence of the application marked
              %strong 'E'
      %li.court Post the signed claim form and attached documents to the court
