<div class='sub-panel address' id='property'>
        <div class='row street'><label for="claim_property_street">Full Address<span class="visuallyhidden">.</span> <span class="hint js-only" style="display: none" id="room_number">Include the room number<span class="visuallyhidden">.</span></span> <div class="hint nonjs" id="room_number-non-js">If "Room or rooms in a property" was selected above, include the room number<span class="visuallyhidden">.</span></div></label>
        <textarea id="claim_property_street" maxlength="70" name="claim[property][street]">
</textarea></div>