%header.page-header.group

  %h1 Cookies

.container

  %p This site puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.

  %p Cookies are used to:

  %ul
    %li measure how you use the website so it can be updated and improved based on your needs
    %li remember the notifications you’ve seen so that we don’t show them to you again

  %p
    %em GOV.UK cookies aren’t used to identify you personally.

  %p You’ll normally see a message on the site before we store a cookie on your computer.

  %p Find out more about #{link_to 'How to manage cookies', 'http://www.aboutcookies.org/', :class => 'external', :rel => 'external'}.

  %h2 How cookies are used

  %h3 Measuring website usage 

  We use Google Analytics to collect information about how you use the ‘Accelerated possession claim for property’

  %p Google Analytics stores information about the pages you visit on GOV.UK:

  %ul
    %li how long you spend on each page
    %li how you got to the site
    %li what you click on while you’re visiting the site.

  %p 
    %em We don’t collect or store your personal information (eg your name or address) so this information can’t be used to identify who you are.

  %p We don’t allow Google to use or share our analytics data.

  %p Google Analytics sets the following cookies:

  %table.border
    %thead
      %tr
        %th Name
        %th Purpose
        %th Expires
    %tbody
      %tr 
        %td 
          %code _utma
        %td Determines the number of unique visitors to the site
        %td 2 years
      %tr
        %td
          %code _utmb
        %td This works with _utmc to calculate the average length of time you spend on our site
        %td 30 minutes
      %tr
        %td
          %code _utmc
        %td This works with _utmb to calculate when you close your browser
        %td when you close your browser
      %tr
        %td
          %code _utmz
        %td This provides information about how you reached the site (eg from another website or a search engine)
        %td 6 months


  %p You can #{link_to 'opt out of Google Analytics cookies','https://tools.google.com/dlpage/gaoptout', :class => 'external', :rel => 'external'}.


  %h2 Our introductory message

  %p You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.

  %table.border
    %thead
      %tr
        %th Name
        %th Purpose
        %th Expires
      %tr
        %td
          %code seen_cookie_message
        %td Saves a message to let us know that you have seen our cookie message
        %td 1 month

  %h2 Your progress when using the service

  %p When you use the ‘Accelerated possession claim for property’ service, we’ll set a cookie to remember your progress through the forms. These cookies don’t store your personal data and are deleted once you’ve completed the transaction.

  %table.border
    %thead
      %tr
        %th Name
        %th Purpose
        %th Expires
      %tr
        %td
          %code _accelerated_claims_session
        %td An identifier for your session
        %td At the end of the session

  

