%header.page-header.group

  %ul.breadcrumb
    %li #{link_to 'Home', '..'}

  %h1 Help

.container

  %p Find out about accelerated possession, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.

  %h2 Accessibility
  %p
    Details of accessibility and help using the internet
    %br
    URL Link: #{link_to 'accessibility', 'accessibility'}.

  %h2 Cookies
  %p
    How cookies are used and each cookie's purpose
    %br
    URL Link: #{link_to 'cookies', 'cookies'}.

  %h2 Terms and conditions and privacy policy
  %p
    Information about the service and privacy approach
    %br
    URL Link: #{link_to 'terms', 'terms'}.
