// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//

//= require jquery_ujs
//= require underscore
//= require handlebars-v1.3.0
//= require jquery.simplemodal-1.4.5
//= require tools
//= require animate

// from govuk_elements gem
//= require details.polyfill
//= require bind
//= require selection-buttons

//= require address_module
//= require postcode_picker

//= require property_module
//= require select_state
//= require yes_no
//= require claimant_contact
//= require claimant_module
//= require defendant_module
//= require deposit_module
//= require notice_module
//= require tenancy_module
//= require date_digits
//= require show_hide
//= require js_validate
//= require scrolling
//= require js_alt_text
//= require not_applicable
//= require session_modal
//= require show_hide_module
//= require fee_account_module

//= require event_tracker
//= require pageview_tracker
//= require analytics_tracking
//= require relative_url_root
//= require end_timer
//= require session_timeoutjs
//= require court_lookup
//= require court_address

//  js_state must go last in this list
//= require js_state

//= require error_focus_module


moj.Modules.devs = {
  init: function() {

  }
};

$( '.remove' ).remove();

$.fn.scrollStopped = function(callback) {
  $(this).scroll(function(){
    var self = this, $this = $(self);
    if ($this.data('scrollTimeout')) {
      clearTimeout($this.data('scrollTimeout'));
    }
    $this.data('scrollTimeout', setTimeout(callback,250,self));
  });
};

$('body').append("<div id='javascript_done'></div>");
$('details').attr('open', false);
$('form#claimForm').append('<input type="hidden" id="javascript-enabled" name="claim[javascript_enabled]" value="Yes">');

var $blockLabels = $("input[type='radio'], input[type='checkbox']");

GOVUK.selectionButtons($blockLabels);

jQuery(function() {
  return new ClaimantContact();
});

jQuery(function() {
  return FeeAccountModule.initialDisplay();
});

