// Give elements default CSS by extending from selectors in govuk elements

$path: ''

@import 'elements/helpers'
@import 'elements/reset'
@import 'elements/elements-typography'
@import 'elements/layout'
@import 'elements/forms'
// @import "elements/tables"
@import 'elements/buttons'
@import 'elements/details'
@import 'elements/lists'
@import 'elements/panels'
// @import "elements/icons"

h1
  @extend .heading-xlarge

  span
    @extend .heading-secondary

h2
  @extend .heading-medium

h3
  @extend .heading-small

ul
  @extend .list-bullet

fieldset.radio
  label
    @extend .block-label

fieldset.inline
  label
    clear: none
    margin-right: $gutter-half

legend
  @extend .form-label

select
  @extend .form-label

span.hint
  @extend .form-hint
  margin-top: 0px

label[for]
  @extend .form-label

label + input
  @extend .form-control

label + textarea
  @extend .form-control

div.row, fieldset
  @extend .form-group

.narrow
  @extend .form-control-1-8

.error-summary
  @extend .validation-summary

span.error
  @extend .validation-message

// .moj-panel
  // @extend .panel-indent

// .divider
  // width: auto
  // height: 25px
  // padding: 0
  // overflow: hidden
  // border-bottom: 1px dotted #c2c2c2

.js-enabled
  .hide
    display: none

.js-only
  display: none
  .js-enabled &
    display: block

.left
  float: left
.right
  float: right

.summary-header .section-header
  margin-top: 0px

.summary-field
  @extend .grid-row
  margin-bottom: 0.5em

.summary-label
  @extend .column-quarter

.summary-value
  @extend .column-three-quarters

.postcode-picker-edit-field
  margin-right: 10px

textarea
  height: 110px

// --
// Only required for postcode picker manual entry caption
a.caption
  padding-left: 20px
  background: image-url('summary-arrow-sprite.gif') 0 5px no-repeat
  color: $link-colour
  cursor: pointer
  &:hover
    text-decoration: underline
  &:focus
    background: rgb(254, 188, 64) image-url('summary-arrow-sprite.gif') 0 5px no-repeat
.open
  a.caption
    background-position: -1000px 5px
    color: $link-active-colour
    &:focus
      background: rgb(254, 188, 64) image-url('summary-arrow-sprite.gif') 0 5px no-repeat

// --

