// Give elements default CSS by extending from selectors in govuk elements

$path: ''

@import 'elements/helpers'
@import 'elements/reset'
@import 'elements/elements-typography'
@import 'elements/layout'
@import 'elements/forms'
@import 'elements/buttons'
@import 'elements/lists'

@import 'elements/details'
@import 'elements/panels'

h1
  @extend .heading-xlarge

  span
    @extend .heading-secondary

h2
  @extend .heading-medium

h3
  @extend .heading-small

fieldset.radio
  label
    @extend .block-label

fieldset.inline
  label
    clear: none
    margin-right: $gutter-half

legend
  @extend .form-label

span.hint
  @extend .form-hint
  margin-top: 0px

label[for]
  @extend .form-label

label + input
  @extend .form-control

label + textarea
  @extend .form-control

div.row, fieldset
  @extend .form-group

.narrow
  @extend .form-control-1-8

.error-summary
  @extend .validation-summary

span.error
  @extend .validation-message

// .moj-panel
  // @extend .panel-indent

// .divider
  // width: auto
  // height: 25px
  // padding: 0
  // overflow: hidden
  // border-bottom: 1px dotted #c2c2c2

.js-enabled
  .hide
    display: none

.js-only
  display: none
  .js-enabled &
    display: block


