.moj-panel
  position: relative

  fieldset.striped-choice
    position: relative

    legend, h3
      position: absolute
      left: 0
      margin-left: 90px
      white-space: normal

    .row
      clear: both

      input[type="checkbox"], input[type="radio"]
        margin-top: 3px

    &.full
      legend, h3
        position: relative
        margin-left: 0px
          

  fieldset.date-picker
    .row
      margin-top: 0
  
  fieldset.error
    background: image-url('ie-errorbg.png') 0 0 repeat-y
    border: none
