.moj-panel
  position: relative

  fieldset.date-picker
    position: relative
  
  fieldset.error
    background: image-url('ie-errorbg.png') 0 0 repeat-y
    border: none

ol.alphabetical
  float: none
  clear: both
  position: relative
  display: block
  zoom: 1

  li
    list-style: lower-alpha
    float: none
    clear: both
    position: relative
    display: block
    zoom: 1

    &:before
      content: none
      counter-increment: auto
      position: relative
      left: auto

    input[type="checkbox"]
      position: relative
      left: auto
      top: auto
