%header.content-header
  %p Use this form to report a problem or suggest improvements to the service.
  %p
    %strong Please don't include any sensitive personal information (For example bank details, address etc.)

= form_for @feedback, url: feedback_path, html: { novalidate: 'novalidate' }, builder: LabellingFormBuilder do |f|
  %input{name: 'feedback[referrer]', type: 'hidden', value: (params[:referrer] || (params[:feedback][:referrer] if params[:feedback]))}/
  %input{name: 'feedback[user_agent]', type: 'hidden', value: request.headers['HTTP_USER_AGENT']}

  %section
    .moj-panel
      = f.text_area_row :text, label: 'Your comments'

      .row
        Do you want a reply? If you'd like us to get back to you, please leave your details below. We'll only use this to reply to your message.

      = f.text_field_row :email, label: 'Your email address', class: 'rel'

  %section
    .action-buttons.cf
      = f.submit 'Send', :class => 'button button-primary large chevron left', :id => 'submit-button'
